.results {
    position: relative;
    top: 10px;
    width: 99%;
    height: 90%;
    font-family: 'Comfortaa'; 
    font-size: 1em;
    display: block;
}

.glyphicon-remove{
    color: red;
}

.glyphicon-remove:active{
   color: gray;
}

.rowContainer {
    flex-direction: row;
}

.favButton {
    justify-content: center;
    align-items: center;
    border: solid gray 1.5px;
    border-radius: 50%;
    background: radial-gradient(circle, lightgray, gray);
    width: 25px;
    height: 25px;
}

.favButton:hover {
    border: solid gray 1.5px;
    border-radius: 50%;
    background: radial-gradient(circle, lightgreen, green);
    width: 25px;
    height: 25px;
}